if myMoves
    div.my-moves-panel
        h5 Saved Moves
        p (those previously added to sequences)
        each pose in myMoves
            div(class="minicard" id=`${pose.up_pk_id}`)
                form(name="addPose" method="post" action=`/sequence/${seq_id}/add/${pose.up_pk_id}`)
                    a(href=`/poses/${pose.id}`)
                    .img-wrapper
                        if seq_id
                            button(class="btn btn-primary addbutton" type="submit") +
                        if pose.cover_thumbnail
                            img(src=`http://yoga.com/${pose.cover_thumbnail}` alt=`${pose.meta_title} image here` class="img-fluid")
                        p #{pose.meta_title}
                        //- if pose.up_special_directions
                        //-     p(class="card-text") #{pose.up_special_directions}
                        //- if pose.up_breath
                        //-     p(class="card-text") #{pose.up_breath}
                        //- if pose.card_timing
                        //-     p(class="card-text") #{pose.card_timing}   
else    
    p NO SAVED MOVES

if seq_id
    h3 edit your sequence: