sidebar
  if poses
    input(type="checkbox" id="slide" name="" value="" checked)
  if !poses  
    input(type="checkbox" id="slide" name="" value="" )
  div.container
    label(for="slide" class="toggle") Search More Moves ☰
      div(class="sidebar")
        h1 SEQUENCE ID #{seq_id}
        form(class="form-inline" method="GET")
          input(class="form-control" type="text" id="searchPoses" name="title" required placeholder="Search poses")
          button(class="btn btn-outline-success" formaction=`/${seq_id}/sidesearch/?${title}` type="submit") Search
        if poses
          div.container-fluid
            div.row
              each pose in poses
                div.col-6
                  div.card
                    a(href=`/poses/${pose.id}` target="_blank")
                      if pose.cover_thumbnail
                        img(class="card-img-top img-fluid" src=`http://yoga.com/${pose.cover_thumbnail}` alt="Card image cap")
                      else
                        img(class="card-img-top img-fluid" src="https://static.boredpanda.com/blog/wp-content/uploads/2014/05/funny-animals-doing-yoga-32.jpg" alt="card image cap")
                      div(class="card-block")
                        h4(class="card-title") #{pose.meta_title}
                        p(class="card-text")
                        form(class="form-inline" method="POST")
                          button(type='submit' formaction=`/sequence/${seq_id}/addnew/${pose.id}` class='info-btn') +