extends index.pug

block content
    if myMoves
        div.container-fluid
            div.row
                each pose in myMoves
                    div(class="col-lg-2 col-md-3 col-sm-4 col-12")
                        div.card 
                            form(name="addPose" method="post" action=`/sequence/${seq_id}/add/${pose.up_pk_id}`)
                                a(href=`/poses/${pose.id}`)
                                if pose.cover_thumbnail
                                    img(src=`http://yoga.com/${pose.cover_thumbnail}` alt=`${pose.meta_title} image here` class="card-img-top img-fluid")
                                div(class="card-block")
                                    h4(class="card-title") #{pose.meta_title}
                                    if pose.up_special_directions
                                        p(class="card-text") #{pose.up_special_directions}
                                    if pose.up_breath
                                        p(class="card-text") #{pose.up_breath}
                                    if pose.card_timing
                                        p(class="card-text") #{pose.card_timing} 
                            button(class="mmxbuttons btn btn-danger", name=`${pose.up_pk_id}`, value=`${pose.up_pk_id}`, style="cursor: pointer;") X


    else    
        p NO MOVES

    script(src="/public/jquery/dist/jquery.min.js")
    script(src="/public/tether/dist/js/tether.min.js")
    script(src="/public/styles/bootstrap/dist/js/bootstrap.min.js")
    script(src="/public/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js")
    script(src="/public/main.js")
        //- need to add the options here for deleting from my moves, changing the details, etc