extends index.pug
block content
    .container
        h1.title-texts Edit details for #{poseBasics.meta_title}
        h2= poseBasics.sanskrit_name
        if poseBasics.photo
            img(src=`http://yoga.com/${poseBasics.photo}` class="img-fluid")
        br
        label(for="special_direx") Add personal directions or modifications for this pose:
        textarea(type="text" id="special_direx" class="form-control" name="special_direx" value=`${poseDeets.up_special_directions}`)
        br
        label(for="breath_direx") Add breathing directions for this pose:
        input(type="text" id="breath_direx" class="form-control" name="breath_direx" placeholder="inhale for a count of four" value=`${poseDeets.up_breath}`)
        br
        button(type="button" value=`${UP_id}` class="btn" id="updateUserPose") Save personal directions
        
        br
        br
        if poseBasics.video_url
            video(class="img-fluid" controls)
                source(src=`${poseBasics.video_url}` type="video/mp4")
                Your browser does not support the video tag.
        if poseBasics.description
            p= poseBasics.description
        if poseBasics.benefits
            p= poseBasics.benefits
        if poseBasics.meta_description
            p= poseBasics.meta_description
        if poseBasics.muscle
            img(src=`http://yoga.com/${poseBasics.muscle}` style="max-width: 500px;")

    script(src="/public/jquery/dist/jquery.min.js")
    script(src="/public/tether/dist/js/tether.min.js")
    script(src="/public/styles/bootstrap/dist/js/bootstrap.min.js")
    script(src="/public/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js")
    script(src="/public/main.js")