extends index.pug
block content
    h1= moves[0].meta_title
    div(id="carouselExampleIndicators" class="carousel slide" data-ride="carousel")
        ol(class="carousel-indicators")
            li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
            each move in moves
                li(data-target="#carouselExampleIndicators" data-slide-to=`${move.position_order}`)
        div(class="carousel-inner" role="listbox")
            div(class="carousel-item active")
                img(class="d-block img-fluid sequence-play-img" src="/public/images/yogafrog.jpg" alt="First slide")
                div(class="carousel-caption d-none d-md-block")
                    h3 Get ready!
                    p Move to your mat or space and prepare for your first pose.
            
            each move in moves
                div(class="carousel-item")
                    if move.photo
                        img(src=`https://yoga.com${move.photo}` alt=`${move.meta_title}`)
                    else
                        img(class="d-block img-fluid sequence-play-img" src="/public/images/lotustree.png" alt="pose photo missing")
                    div(class="carousel-caption d-none d-md-block")
                        h3= move.meta_title
                        if move.up_special_directions
                            p= move.up_special_direction
        a(class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev")
            span(class="carousel-control-prev-icon" aria-hidden="true")
            span(class="sr-only") Previous
        a(class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next")
            span(class="carousel-control-next-icon" aria-hidden="true")
            span(class="sr-only") 

    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
