extends index.pug

block content
  if messages.noSrchRes
  h1= messages.noSrchRes

  form(method="GET" action='/poses/category')
    label(for="cat_id") Category: 
      select(name="cat_id" id="cat_id")
        option(value="" disabled selected) Select:
          for cat in cats
            option(value=`${cat.id}`) #{cat.name}
    button(type="submit" style="cursor: pointer;") Filter
    
  form(method="GET" action='/poses/level')
    label(for="lev_id") Level: 
      select(name="lev_id" id="lev_id")
        option(value="" disabled selected) Select:
          for lev in levs
            option(value=`${lev.id}`) #{lev.name}
    button(type="submit" style="cursor: pointer;") Filter

  ul
    each pose in poses
      li.displayCard 
        a(href=`/poses/${pose.id}`)
          h2= pose.meta_title
          if pose.cover_thumbnail
            img(src=`http://yoga.com/${pose.cover_thumbnail}` style="max-width: 200px;")
          else
            img(src="https://static.boredpanda.com/blog/wp-content/uploads/2014/05/funny-animals-doing-yoga-32.jpg" style="max-width: 200px;")
            