extends index.pug

block content
    .container
        h1= move.meta_title
        br
        h2= move.sanskrit_name
        br
        h5= level.name
        h5= category.name
        br
        if move.photo
            img(src=`http://yoga.com/${move.photo}` class="img-fluid")
        br
        if move.description
            p= move.description
        br
        if move.benefits
          p Benefits:
            p= move.benefits
        br
        .vid-wrapper
          if move.video_url
              video(controls class='img-fluid')
                  source(src=`${move.video_url}` type="video/mp4")
                  Your browser does not support the video tag.
        if move.meta_description
            p= move.meta_description
        br
        if move.muscle
          p Muscle diagram:
          img(src=`http://yoga.com/${move.muscle}` class="img-fluid")
        br