extends index.pug

block content
  if messages.noSrchRes
  h1= messages.noSrchRes
  form(method="GET" action='/poses/category')
    label(for="cat_id") Category: 
      select(name="cat_id" id="cat_id")
        option(value="" disabled selected) Select:
          for cat in cats
            option(value=`${cat.id}`) #{cat.name}
    button(type="submit" style="cursor: pointer;") Filter

  ul
    each pose in poses
      li.displayCard 
        a(href=`/poses/${pose.id}`)
          h2= pose.meta_title
          img(src=`http://yoga.com/${pose.cover_thumbnail}` style="max-width: 200px;")