extends index.pug

block content
  include partials/myMoves.pug
  
  h1.title-texts Your Sequences
  button.btn.btn-info.newSeq Create a New Sequence
  label(for="newSeqTitle" class="newSeqTitle hidden") Title for your new sequence:
  input(id="newSeqTitle" type="text" placeholder="my new sequence" name="seqTitle" value="" class="hidden newSeqTitle")
  button(class="btn newSeqTitle hidden" name=`${seqs.length}` id="submitSeqTitle") Submit
    
  .row
    each seq in seqs
      .col-lg-3.col-md-4.col-sm-6
        .displaySeqCard.card.tallness
          a(href=`/sequence/play/${seq.id}` class="button btn btn-outline-success") Play this sequence
          a(href=`/sequence/${seq.id}`)
            img(src="/public/images/lotustree.png" class="img-fluid")
            h2= seq.title
            button(class="button btn-block btn btn-outline-danger deleteSeq" name=`${seq.id}` value=`${seq.id}`) Delete this sequence

    script(src="/public/jquery/dist/jquery.min.js")
    script(src="/public/tether/dist/js/tether.min.js")
    script(src="/public/styles/bootstrap/dist/js/bootstrap.min.js")
    script(src="/public/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js")
    script(src="/public/main.js")