extends index.pug

block content
  include partials/myMoves.pug
    div.container-fluid
        div.row
            each move in moves
                div(class="col-lg-2 col-md-3 col-sm-4 col-12")
                    div.card
                        a(href=`/poses/${move.pose_id}` target="_blank")
                            if move.cover_thumbnail
                                img(class="card-img-top img-fluid" src=`http://yoga.com/${move.cover_thumbnail}` alt="Card image cap")
                            div(class="card-block")
                                h4(class="card-title") #{move.meta_title}
                                if move.up_special_directions
                                    p(class="card-text") #{move.up_special_directions}
                                if move.up_breath
                                    p(class="card-text") #{move.up_breath}
                                if move.card_timing
                                    p(class="card-text") #{move.card_timing}
                        button(class="xbuttons btn btn-danger", name=`${move.seqUsPos_id}`, value=`${move.sequence_id}`, style="cursor: pointer;") X

    include partials/searchToAdd.pug

    script
        include ../node_modules/jquery/dist/jquery.js
        include ../public/main.js
